.block {
  display: grid;
  margin: 20px;
  place-items: center;
  height: 14vh;
  width: 28vh;
  background-color: #3c096c;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
  border-radius: 0%;
}
.innerBlock {
  display: flex;
  background-color: #f2f4f3;
  margin-top: 2px;
  height: 7vh;
  width: 26vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
  justify-content: space-around;
}
.innerBlock:hover {
  background-color: rgb(225, 234, 238);
}

.innerBlock > .MuiSvgIcon-root {
  color: white;
  align-self: center;
}

.react-confirm-alert-overlay {
  background: rgba(255, 255, 255, 0.65) !important;
}
.react-confirm-alert-body {
  background-color: #18181b !important;
  color: #5a189a !important;
}
.react-confirm-alert-button-group > button {
  background-color: #26262c !important;
  color: #5a189a !important;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
}
.bottomBlock {
  display: flex;
  height: 5vh;
  width: 102%;
  /* margin-left: 3%; */
  background-color: #5a189a;
  justify-content: space-between;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
}
.bottomBlock1 {
  margin-left: 10px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
}
.bottomBlock1 > .text_website {
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #f0f0ff;
}
.bottomBlock1 > .text_email {
  font-size: 90%;
  margin: 0;
  padding-bottom: 0;
  color: #f0f0ff;
}
.bottomBlock > p {
  margin-left: 5px;
}
.bottomBlock2 {
  padding-top: 2%;
}
.dropdown-toggle {
  color: #f0f0ff !important;
}
